body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
    background-color: #f9f9f9;
}
.container {
    width: 40%;
    margin: auto;
}
h1 {
    color: #333;
    font-size: 2em;
    font-weight: bold;
}
p {
    color: #666;
    margin-bottom: 50px;
}
.search-boxes {
    display: flex;
    justify-content: space-between;
}
input[type="text"] {
    padding: 10px;
    width: 30%;
}